{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
Teachers
{% endblock %}

{% block content %}

<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
  {% for p in posts %}
  <div class="col">
    <div class="card card-cover text-white bg-dark rounded-5 shadow-lg" style="background-image: url({% static 'mainapp/images/back.webp'%});">
      <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1">
        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{p.fullname}}</h2>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
            <img src="{{p.photo.url}}" alt="Bootstrap" width="128" height="128" class="rounded-circle border border-white">
          </li>
          <li class="d-flex align-items-center me-3 p-2">
            <small>{{p.about}}</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}